.env
.env.*
!.env.example

node_modules/
dist/
outputs/
.zilo-manager/
.npm-cache/

#.agents/
skills-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
